<script id="eventsTemplate" type="text/template">
    <div>

<div class="overflow-auto " style="height: 30rem;" >

    {{#each events}}

        <div class="card shadow mb-3 bg-white rounded">
            <div class="card-body ">

            <h5 class="card-title">
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#block{{this.[0].event_id }}" aria-expanded="false" aria-controls="block{{this.[0].event_id }}">
                   {{this.[0].event_message }}
                </button>
                {{this.[0].event_data }}
            </h5>

            <div class="collapse" id="block{{this.[0].event_id }}">
                {{#each this}}

                    <div class="card shadow mb-3 bg-white rounded">
                        <div class="card-body ">
                            {{event_data}}
                            <h5 class="bg-primary card-title">{{setImg event_message}}</h5>
                            {{setUser user_id}}

                            {{event_modif_1}}
                        </div>
                    </div>

                {{/each}}
            </div>


            </div>
        </div>


    {{/each}}

</div>



       <form id="addEventForm">
           <input type="hidden" name="machine_id" value="{{machine_id}}">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name ="Open" value="Open">
                <label class="form-check-label" for="inlineCheckbox1">Начало ремонта</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="Close" value="Close">
                <label class="form-check-label" for="inlineCheckbox2">Готов</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="Info" value="Info">
                <label class="form-check-label" for="inlineCheckbox3">Инфо</label>
            </div>

            <div class="mb-3">
                <label for="formFileMultiple" class="form-label">Загрузить фото</label>
                <input id="inputEventFile" name="inputEventFile" class="form-control" type="file" id="formFileMultiple" multiple>
                
                <div id="formFileMultipleUpload">

                </div>
            </div>

            <div class="mb-3">
                <label for="event_message" class="form-label">Описание</label>
                <textarea class="form-control" id="event_message" rows="3"></textarea>
            </div>
                
            
            <button type="submit" class="btn btn-primary">Записать</button>
            <label  id="ErrorMessage" class="col-sm control-label"></label>
        </form>
    </div>
</script>