<script id="eventsTemplate" type="text/template">
    <div>
<div><!-- Описание станка -->
    <div class="card" style="margin-bottom: 1rem;">
        <div class="card-body">
            <h5 class="card-title">{{model.model_name}} ({{model.model_desc}})</h5>
            <p class="card-text">Номер станка: {{machine.machine_number}}</p>
            <p class="card-text">{{machine.machine_desc}}</p>
            <a class="card text-center text-decoration-none text-reset" style="background: #49a2f5;" data-bs-toggle="collapse" href="#wiki" role="button" aria-expanded="true" aria-controls="wiki">
                Открыть wiki
            </a>
            
            <div id='wiki' class="collapse"> </div>
            
        </div>
    </div>
</div>


    {{#each eventsM}}

        <div class="card  shadow mb-3 rounded">
            <div class="card-body .bg-secondary .bg-gradient" >

                <h5 class="card-title">
                    {{setDateRepair this.[0].event_data }}</br>
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#block{{this.[0].event_id }}" aria-expanded="false" aria-controls="block{{this.[0].event_id }}">
                    {{this.[0].event_message }}
                    </button>
                </h5>

                <div class="collapse" id="block{{this.[0].event_id }}">
                    {{#each this}}

                        <div class="card shadow mb-3 rounded" style="background:#fff2d8">
                            <div class="card-body ">
                                {{setUser user_id}}  {{setDate event_data}} {{event_modif_1}}
                                <h5 class="card-title">{{setImg event_message}}</h5>
                                

                                 <a href='' id='editEvent' event_id='{{event_id}}'>Редактировать</a>
                            </div>
                        </div>

                    {{/each}}
                </div>


            </div>
        </div>


    {{/each}}


    <div class="fixed-bottom card mt-3 container" style = "">
        <a class="card text-center text-decoration-none text-reset" style="background:#0d6efd" data-bs-toggle="collapse" href="#collapseAddEventForm" role="button" aria-expanded="true" aria-controls="collapseAddEventForm">
            <<<<<<<<>>>>>>>>
        </a>

        <div class="collapse" id="collapseAddEventForm">
            <form id="addEventForm">
                <input type="hidden" name="machine_id" value="{{machine.machine_id}}">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name ="Open" value="Open">
                        <label class="form-check-label" for="inlineCheckbox1">Начало ремонта</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="Close" value="Close">
                        <label class="form-check-label" for="inlineCheckbox2">Готов</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="Info" value="Info">
                        <label class="form-check-label" for="inlineCheckbox3">Инфо</label>
                    </div>



                    <div class="mb-3">
                        <label for="formFileMultiple" class="form-label">Загрузить фото</label>
                        <input id="inputEventFile" name="inputEventFile" class="form-control" type="file" id="formFileMultiple" multiple>
                        
                        <div id="formFileMultipleUpload">

                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="event_message" class="form-label">Описание</label>
                        <textarea class="form-control" id="event_message" rows="3"></textarea>
                    </div>
                        
                    
                    <button type="submit" class="btn btn-primary">Записать</button>
                    <label  id="ErrorMessage" class="col-sm control-label"></label>
                </form>
            </div>
        
        </div>


    </div>


</script>