<!--  Основной шаблон работы с ППР   -->
<script id="prevMainTemplate" type="text/template">
     
       <div>   
            <ul class="nav nav-tabs">
              
                <li class="nav-item">
                    <a class="nav-link" data-role="nav-maintenence" id="MaintenenseNav" role="Set">Настройка</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-role="nav-maintenence" id="MaintenenseNav" role="Years">Годовой план</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-role="nav-maintenence" id="MaintenenseNav" role="Calendar">План на месяц</a>
                </li>
                
            </ul>

        </div> 

        <div id="MaintenenceApps">
            {{insertCalendar}}
        </div>
</script>


<script id="prevMainYearsTemplate" type="text/template">
   
     <div>

        {{#each this}}
           
            <h5 class="card-title">
                <div class="d-grid gap-2">
                    <button class="btn btn-primary " type="button" data-bs-toggle="collapse" data-bs-target="#block{{@key}}" aria-expanded="false" aria-controls="block">
                            {{@key}}
                    </button>
                 <div>        
            </h5>
           

            <div class="collapse" id="block{{@key}}">
                <div class="flex-container">

                    <button type="button" class="btn btn-secondary btn-sm" id="PrevMainGenerate" model_id="{{this.[0].model_id}}" model="{{@key}}">Сгенерировать</button>
                    <button type="button" class="btn btn-secondary btn-sm" id="PrevMainSave" model="{{@key}}">Сохранить</button>
                    <button type="button" class="btn btn-secondary btn-sm" id="PrevMainSettings" model="{{this.[0].model_id}}">Настроить</button>

                    <div id="table_{{@key}}">
                        {{insertTable this}}
                    </div>

                </div>
            </div>    
        {{/each}}  
    </div>

</script>


<!--  Шаблон таблицы Годичного ТО   -->
<script id="prevMainTableTemplate" type="text/template">

        <table class="table .table-bordered text-center">
            <thead>
                <tr>
                    <th scope="col" rowspan = "2" class = "align-middle" >Номер</th>
                    <th scope="col" colspan="12"  > Месяц</th>


                </tr>
                <tr>
                    <th scope="col">Январь</th>
                    <th scope="col">Ферваль</th>
                    <th scope="col">Март</th>
                    <th scope="col">Апрель</th>
                    <th scope="col">Май</th>
                    <th scope="col">Июнь</th>
                    <th scope="col">Июль</th>
                    <th scope="col">Август</th>
                    <th scope="col">Сентябрь</th>
                    <th scope="col">Октябрь</th>
                    <th scope="col">Ноябрь</th>
                    <th scope="col">Декабрь</th>
                </tr>
            </thead>
            <tbody>
            {{#each this}}
                <tr>
                    <td scope="row">{{this.machine_number}}</td>
                    {{#each this.maintence}}
                        {{insertTO this}}
                    {{/each}}
                </tr>
            {{/each}}  
            </tbody>
        </table>
</script>


<script id="prevMainAddMaintenceTemplate" type="text/template">
    <form>
        <div class="flex-container">
            <table class="table .table-bordered text-center">
                <thead>
                    <tr>
                        <th scope="col" class = "align-middle" >Модель</th>
                        <th>TO1</th>
                        <th>TO2</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {{#each this}}
                    <tr>
                        <td scope="row">{{}}</td>
                        <td scope="row"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></td>
                        <td scope="row"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></td>
                        
                    </tr>
                    {{/each}}

                </tbody>
            </table>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>    
</script>



<script id="prevMainSettingsTemplate" type="text/template">
    
    <div class="flex-container" data-dialog-title="Добавить вид ППР">
        <form id="addMaintenceForm">
            <input type="hidden" name="model_id" value="{{model_id}}">   
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Название:</label>
                <input name="mtype_name" value="" class="form-control" >
            </div>
            <div class="mb-3">
                 <label for="exampleInputEmail1" class="form-label">Переодичность(мес):</label>
                <select class="form-select form-select-lg mb-3" name="mtype_period" aria-label=".form-select-lg example">
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </div>
            <div class="mb-3">
                <label id="ErrorMessage" class="col-sm control-label"></label>
            </div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
   
</script>

<!--  Шаблон таблицы выбора вида ТО для модели   -->
<script id="prevMainMaintenanceTypesTemplate" type="text/template">
    
    <div class="flex-container">
        <table class="table .table-bordered text-center">
                <thead>
                    <tr>
                        <th scope="col" class = "align-middle" >Модель</th>
                        {{#each Mtypes}}    
                            <th>{{mtype_name}}</th>
                        {{/each}}
                    </tr>
                </thead>
                <tbody>
                    
                    {{#each ModelOn}}
                        <tr>

                            <td scope="row">{{model_name}}</td>
                            {{#each mtype}}
                                <td scope="row"><input class="form-check-input" type="checkbox" model_id="{{../model_id}}" mtype_id="{{@key}}" 
                                {{#if this}}
                                checked
                                {{/if}}
                                 value="" id="MaintenanceCheckbox"></td>
                            {{/each}}
                        </tr>
                    {{/each}}
                </tbody>
            </table>
    </div>
   
</script>

<!--  Шаблон календаря Плановых ремонтов   -->
<script id="prevMainCalendarTemplate" type="text/template">
    
    <div class="flex-container">
        <div id="MaintenenceCalendar">
            
        </div>
    </div>
   
</script>


<script id="prevMainEventTemplate" type="text/template">
    <svg width="1em" height="1em"  class="" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
        data-bs-toggle="collapse"
        href="#maintenenceEvent" 
        aria-expanded="false" 
        aria-controls="maintenenceEvent"

    >
        <path fill-rule="evenodd" d="M0 1l1-1 3.081 2.2a1 1 0 0 1 .419.815v.07a1 1 0 0 0 .293.708L10.5 9.5l.914-.305a1 1 0 0 1 1.023.242l3.356 3.356a1 1 0 0 1 0 1.414l-1.586 1.586a1 1 0 0 1-1.414 0l-3.356-3.356a1 1 0 0 1-.242-1.023L9.5 10.5 3.793 4.793a1 1 0 0 0-.707-.293h-.071a1 1 0 0 1-.814-.419L0 1zm11.354 9.646a.5.5 0 0 0-.708.708l3 3a.5.5 0 0 0 .708-.708l-3-3z"/>
        <path fill-rule="evenodd" d="M15.898 2.223a3.003 3.003 0 0 1-3.679 3.674L5.878 12.15a3 3 0 1 1-2.027-2.027l6.252-6.341A3 3 0 0 1 13.778.1l-2.142 2.142L12 4l1.757.364 2.141-2.141zm-13.37 9.019L3.001 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026z"/>
    </svg>
    

    <div id="maintenenceEvent" class="collapse">

       <div>   
            <ul class="nav nav-tabs">
              
                <li class="nav-item">
                    <a class="nav-link"  data-role="nav-maintenenceEvent" id="MaintenenseNavEvent" machine_id="{{this}}" role="Current"  
                    >Текуший</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-role="nav-maintenenceEvent" id="MaintenenseNavEvent" machine_id="{{this}}" role="List"
                    >Выполненые</a>
                </li>
                
            </ul>

        </div> 


    <div id="MaintenenceEventMenu">
       
    </div>




    </div>
   
</script>



<script id="prevMainEventCurrentTemplate" type="text/template">
  

    <div class="card shadow mb-3 rounded" style="background:#e6e6e6">
        <div class="card-body ">
            <h5 class="card-title">Выполнить техническое обслуживание в объеме {{mtype_name}}.</h5>
            <div id="maintenenceWiki"></div>
            
            <form id="addMaintenenceEventForm">
                    <input type="hidden" name="schedule_id" value="{{schedule_id}}">

                    <div class="mb-3">
                        <label for="mevent_messages" class="form-label">Замечания:</label>
                        <textarea class="form-control" id="mevent_messages" rows="3"></textarea>
                    </div>
                        
                    
                    <button type="submit" class="btn btn-primary">Выполнено.</button>
                    <label  id="ErrorMessage" class="col-sm control-label"></label>
                </form>
            </div>
        </div>
    </div>


   
</script>


<script id="prevMainEventListTemplate" type="text/template">
  
  <p> List </p>
   
</script>